/********************/
/* GENERAL SETTINGS */
/********************/
/*body {
    background-color: #AAAAAA;
    font-size: 16px;
}*/
/*
#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}
*/
 
/********************/
/* EXPANDABLE LIST  */
/********************/
#listContainer{
    display:none;
    margin-top:15px;

}
/*
#expList > li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
*/
/*
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}*/
/*
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
*/
/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../img/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../img/expanded.png);
}
#expList { clear: both; }

/* PER LA PULSANTIERA */
.listControl{ margin-bottom: 15px; }
.listControl div {
    display: inline-block;
    border: 1px solid #999696;
    color: #555555;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    padding: 5px 10px;
    border-radius: 4px;
	margin: 0.9em;
}
.listControl div:hover {
    font-weight:normal;
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*------------------------------------*/
.singleTodoList {
    /*width: 120px;
    height: 120px;*/
    list-style: none;
    cursor: text;
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
    width: 20em;
    margin-bottom: 0.5em;
}

.singleTodoItem {
    list-style: none;
    cursor: text;
    line-height: 140%;
    padding: 6px;
    width: 18em;
    margin-bottom: 0.5em;
}

.newItemContainer { height: 2em; width: 20.5em; margin-bottom: 0.5em; }
.newItemContainer .input-icon { height: 2.5em; border-radius: 4px 0px 0px 4px; }
.newItemContainer .input-control { height: 2.5em; border-radius: 0px 4px 4px 0px; }

input[type="text"] {
    height: 2.0em;
    padding: 4px;
    float: left;
    margin-right: 0.5em;
    border-radius: 4px;
}

.itemText {
    width: 8em;
}

.itemQuantity {
    width: 2.5em;
}

.listSeparator {
	border-bottom: 1px dashed grey;
	position: relative;
	width: 90%;
	left: 5%;
	margin-bottom: 0.5em;
}

.addNewItemBtn {
	float: right;
	cursor: pointer;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: 5px;
	width: 5.3em;
	font-size: smaller;
	text-align: center;
}

.itemControls {
    width: 4em;
    float: right;
}
.okImg {
    background: url(../img/okImg.png);
    width: 32px;
    height: 32px;
    float: left;
    -webkit-transform: scale(0.5, 0.5);
}

.delImg {
    width: 32px;
    height: 32px;
    float: right;
    -webkit-transform: scale(0.5, 0.5);
    background: url(../img/delImg.png);
}

/*------------------------------*/
#post_left {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

#post_right {
    width: 49%;
    float: right;
    height: 100%;
    background-color: #fff;
}
#post_right h3 { text-align: center; }

.connect-item {
	width: 25%;
	float: left;
	height: 18px;
	text-align: center;
	margin-top: 16%;
	margin-left: -83px;
}

.carousel-item-mini {
	background: #FFFFFF;
    margin: 5px;
    display: block;
    border-color: #C0BEBE;
    height: 70px;
}

.carousel-item-mini .post-margin { width: 74%; font-size: 13px; float: left; overflow: hidden; white-space: nowrap; margin-left: 5px; }
.carousel-item-mini .featured-image { margin-bottom: 5px; max-width: 27%; float: left; height: 50px; width: 80px; }
.carousel-item-mini img { max-width: 100%; height: 62px; width: 87px; }
.carousel-item-mini h6 a { font-size:13px; color:#444444 }
.carousel-item-mini h6 a:hover { color:#2980b9; }

.featured-image-img { max-width: 100%; max-height: 100%; margin: auto; display: block; }


/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}