<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	
	
	
	<http auto-config="true">
		<sec:intercept-url pattern="/register" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/registersuccess" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/confirmregistration" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		
		<intercept-url pattern="/resources/**" access="ROLE_ANONYMOUS,ROLE_USER"/>
		
		<sec:intercept-url pattern="/**" access="ROLE_USER"/>
		<sec:form-login always-use-default-target="false" login-page="/login" default-target-url="/welcome" authentication-failure-url="/loginfailed"/>
		
		
		<sec:logout logout-success-url="/logout"/>
		<sec:session-management>
			<sec:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
		</sec:session-management>
	</http>
	
	
	<beans:bean id="customUserDetailService" class="ai.server.controller.CustomUserDetailsService"></beans:bean>
          
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailService">
		</authentication-provider>
	</authentication-manager>
</beans:beans>